
.digital-clock{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    color:#49030a;
    background-color: #ffffff91;
    border: solid 6px #6a040f;
    border-radius: 20px;
    padding: 50px 80px ;
    font-size: 20px;
    margin-top: 100px;
}